/* == css reset == */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

aside,
footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

button {
  background: transparent;
}

input:focus,
textarea:focus {
  outline: none;
}

input:required,
input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  background: $color-white;
  word-wrap: break-word;
}


/* == general setting == */

* {
  box-sizing: border-box;
  font-family: $text-font;
  font-size: $font-size-basic;
  font-weight: regular;
  color: $color-black;
}


/* - heading - */

h1,
h2 {
  font-weight: bold;
}

h3,
h4,
h5 {
  font-weight: medium;
}

h1 {
  font-size: 68px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}


/* - label - */

label {
  font-size: $font-size-secondary;
  line-height: 22px;
  color: $color-gray-7;
}


/* - label - */

button {
  cursor: pointer;
}


/* - toast - */

.toast__popup {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 96px;
}

.toast__title {
  font-size: 20px !important;
}

.toast__icon {
  position: relative;
  width: 56px;
  height: 56px;
}

.toast__icon__inner {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}