%post-header-font {
  &>p {
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 700;
  }

  &>p~p {
    @extend %account_;
  }

  &>p~p~p {
    color: $color-secondary;
    font-size: 14px;
    font-weight: 400;
  }

  div {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: $color-secondary;
  }
}

%post {
  position: relative;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid $color-tab-line;
}

%avatar {
  position: absolute;
  top: 16px;
  left: 24px;
  @extend %avatar_;
}

%body {
  width: 95%;
  margin: 8px 0;
  @extend %description-font;
}

%description-font {
  color: #1c1c1c;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

// numbers next to icons
%post-footer-font {
  @extend %num_;
}